@charset "UTF-8";

/* 共通cssここから*/
html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  letter-spacing: 0.1em;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
 }

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  text-decoration: none; 
  transition: all .6s ease;
}

a:hover { 
  transition: all .6s ease;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
}

section h2 {
  font-size: 2rem;
}

/*共通cssここまで*/

/*ヘッダーここから*/
.header {
  background-color: rgb(000,000,000,.5);
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
  }
  
  .header h1 {
    margin: 0 0 0 25px;	
    font-size: 2.5rem;
    color: #fff;
    font-family: sans-serif;
  }
  
  .header nav ul {
    display:-ms-flexbox;
    display:-webkit-flex;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .header nav ul li {
    margin: 0 20px;
  }
  
  header nav li a {
    color: #fff;
  }
  
  header nav li a:hover {
    opacity: 0.6;
  }
    /*ヘッダーレスポンシブ*/
    @media screen and (max-width: 1199px) {
      .hamburger {
        display: block;
        position:absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 26px;
        cursor: pointer;
      }
      
       header nav {
        display: none;
      }
      
      .nav-button,
      .nav-button span {
        display: inline-block;
      }
      
      .nav-button {
        position: relative;
        width: 30px;
        height: 26px;
      }
      
      .nav-button span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
      }
      
      .nav-button span:nth-of-type(1) {
        top: 0;
      }
      
      .nav-button span:nth-of-type(2) {
        top: 11px;
      }
      
      .nav-button span:nth-of-type(3) {
        bottom: 0;
      }
  }

@media screen and (max-width: 479px) {

  .header {
    height: 50px;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}
  
/*ヘッダーここまで*/

/*メインビジュアルここから*/
.mainvisual img {
  position: relative;
  height: 700px;
  object-fit: cover;
}

.mainvisual .place {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #fff;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
/*メインビジュアルレスポンシブ*/
@media screen and (max-width: 1199px) {
  .mainvisual img {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .mainvisual .place {
    font-size: 1.5rem;
    top: 30%;
  }
}
/*メインビジュアルここまで*/

/*お知らせここから*/
.topics {
  padding: 120px;
}

.topics .content-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.topics .heading {
  width: 35%;
}

.topics .content {
  width: 65%;
}

.topics .content table {
  width: 100%;
  margin: 0 0 25px 0;
}

.topics .content th {
  padding: 20px 2rem 20px 0;
  border-bottom: 1px dotted;
}

.topics .content td {
  border-bottom: 1px dotted;
}

.topics .content .btn {
  margin: 0;
}

.topics .content .btn a {
  display: block;
  font-size: 0.8rem;
  color: #000;
  border: 1px solid #000;
  width: 200px;
  line-height: 60px;
  text-align: center;
  margin: 0 0 0 auto;
}

.topics .content .btn a:hover {
  background: #333;
  color: #fff;
}

/*お知らせレスポンシブ*/
@media screen and (max-width: 1199px) {

  .topics {
    padding: 50px 5vw;
  }

  .topics .content-wrapper {
    display: block;
  }

  .topics .heading {
    width: 100%;
  }
    
  .topics .heading h2 {
    text-align: center;
    margin-bottom: 5vw;
  }
    
  .topics .content {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {

  .topics .content th {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1.25em 0 0 0;
    border-bottom: 0;
  }
  
  .topics .content td {
    display: block;
    width: 100%;
  }

  .topics .content .btn a {
    width: 35%;
    min-width: 200px;
    margin: 0 auto;
  }
}
/*お知らせここまで*/

/*事業案内ここから*/
.company-info {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(../images/company-info.jpg);
  background-size: cover;
  background-repeat: no-repeat;;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}

.company-info::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.company-info .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.company-info h2 {
  color: #fff;
  text-align: left;
}

.company-info p {
  color: #fff;
  text-align: left;
  margin-bottom: 70px;
}

.company-info p.btn {
  margin: 0;
}

.company-info p.btn a {
  color: #fff;
  display: block;
  font-size: 0.875rem;
  border: 1px solid #fff;
  width: 200px;
  line-height: 60px;
  text-align: center;
}

.company-info p.btn a:hover {
  background: #fff;
  color: #333;
}

/*事業案内レスポンシブ*/
@media screen and (max-width: 479px) {

  .company-info .content {
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .company-info h2,p {
    text-align: center;
  }
}
/*事業案内ここまで*/

/*メンバーここから*/
.members {
  max-width: 1280px;
  margin: 0 auto;
}

.members-wrapper {
  margin-top: 50px;
}

.members .content h2,
.members-subtitle {
  text-align: left;
}

.members .content p {
  margin: 0;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.members .member h3,p {
  text-align: center;
}

.member-position {
  margin-bottom: 0;
}

.member-image img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid orange;
}

.fadein:nth-of-type(2) {
	-moz-transition-delay:200ms;
	-webkit-transition-delay:200ms;
	-o-transition-delay:200ms;
	-ms-transition-delay:200ms;
  }
  
.fadein:nth-of-type(3) {
  -moz-transition-delay:400ms;
  -webkit-transition-delay:400ms;
  -o-transition-delay:400ms;
  -ms-transition-delay:400ms;
}

.fadein:nth-of-type(4) {
  -moz-transition-delay:600ms;
  -webkit-transition-delay:600ms;
  -o-transition-delay:600ms;
  -ms-transition-delay:600ms;
}

.fadein {
	opacity : 0;
	transform : translate(0, 50px);
	transition : all 1.5s;
	}

.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}

/*メンバーレスポンシブ*/

@media screen and (max-width: 1199px) {

  .mmember img {
    width: calc(100% / 2);
  }
  .members .content h2,
  .members-subtitle {
    text-align: center;
  }
  
  .members-list li:nth-child(1),
  .members-list li:nth-child(2) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 479px) {

  .members .content h2,
  .members-subtitle {
    text-align: center;
  }

  .members-list {
    display: block;
    padding: 0 30px;
  }

  .mmember {
    padding: 0;
    margin-bottom: 20px;
  }
}
/*メンバーここまで*/

/*採用情報ここから*/
.recruit {
  padding: 10% 0;
  position: relative;
}

.recruit h2 {
  padding-bottom: 20px;
  text-align: center;
}

.recruit::after {
  position: absolute;
  content: "";
  background-color: yellow;
  top: -10%;
  left: 30%;
  transform-origin: top left;
  transform: skewX(-30deg);
  height: 150%;
  width: 40%;
  z-index: -1;
}

.recruit ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transform: skewY(2deg);
}

.recruit ul li {
  width: 48%;
  position: relative;
}

.recruit ul li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 67%;
  background: rgba(50, 50, 50, 0.7);
  z-index: 1;
  transition: all .6s ease;
}

.recruit ul li a:hover figure::after {
  background: rgba(50, 50, 50, 0.4);
  transition: all .6s ease;
}

.recruit li span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%) skewY(-2deg);
  z-index: 2;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

/*採用情報レスポンシブ*/

@media screen and (max-width: 767px) {
  .recruit ul {
    transform: none;
  }

  .recruit li span {
    transform: translate(-50%,-50%);
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 479px) {
  .recruit ul li {
    width: 90%;
    margin: 0 auto 20px auto;
  }
}
/*採用情報ここまで*/

/*お問い合わせここから*/
.contact {
  width: 100%;
  height: 500px;
  background: url(../images/contact.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  align-items: center;
}

.contact::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.contact ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

.contact li {
  width: 300px;
  margin: 0 50px;
}

.contact li a {
  border: 1px solid #fff;
  font-size: 1.25rem;
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em 0;
}

.contact li a:hover {
  background: #fff;
  color: #333;
}
/*お問い合わせここまで*/

/*フッターここから*/

.footer section {
  padding-top: 120px;
}

.footer .high {
  border-bottom: 1px solid #333;
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: flex-end;
}

.footer .high h1 {
  font-size: 1.5rem;
}

.footer .high ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  margin-bottom: 20px;
}

.footer .high li a {
  color: #333;
  padding: 0 25px;
}

.footer .high li a:hover {
  opacity: 0.6;
}

.footer .low {
  padding: 25px 0 80px 0;
  color: #333;
}

.footer .low {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .low span {
  padding-left: 1em;
}

.fab {
  font-size: 2rem;
  padding-left: 10px;
}

.fa-twitter-square {
  color: #55acee;
}

.fa-facebook-square {
  color: #315096;
}

.fa-line {
  color: #00c300;
}
.footer section p {
  color: #333;
  text-align: center;
  font-size: 0.75rem;
}

/*フッターレスポンシブ*/

@media screen and (max-width: 1199px) {
  .footer .high {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .footer section {
    padding-top: 50px;
  }

  .footer .high li {
    width: calc(100%/3);
    margin: 0 0 10px;
  }

  .footer .high li a {
    display: block;
    text-align: center;
    padding: 0;
  }

  .address {
    margin: 0 auto;
  }
  
  .sns-icon {
    margin: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .footer .high h1,.low {
    text-align: center;
  }
}
/*フッターここまで*/